<ion-view title="Need Help?" id="page6" style="background-color:#EEEEEE;">
  <ion-content padding="true" class="has-header">
    <div class="list">
    <a class="item item-icon-left" target="_blank" href="tel:+496170961709">
      <i class="icon ion-chatbubble-working"></i>
      Call us
    </a>
    <a class="item item-icon-left" target="_system" href="skype:live:shivas_19?call">
      <i class="icon ion-social-skype-outline"></i>
      Reach us on Skype
    </a>
    <a class="item item-icon-left" target="_blank" href="mailto:aparnay@appcino.com">
      <i class="icon ion-email"></i>
      Send us an Email
    </a>
    <a class="item item-icon-left" ng-click="navigateToFaq()">
      <i class="icon ion-information-circled"></i>
      FAQs.
    </a>
  </div>
  </ion-content>
</ion-view>
