<ion-view id="page1">
  <ion-tabs id="tabsController-tabs1">
    <ion-tab icon="ion-compose" href="#/tabs/workOrders"
    id="tabsController-tab1" class="light1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-calendar" href="#/tabs/calendar" id="tabsController-tab2" class="light2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    </ion-tabs>
</ion-view>


<!--ios-create

<div class="tabs tabs-icon-only">
  <a class="tab-item" href="#/tabs/workOrders">
    <i class="icon ion-compose" style="color:#00396b;"></i>
    <ion-nav-view name="tab1"></ion-nav-view>
  </a>
  <a class="tab-item" href="#/tabs/calendar">
    <i class="icon ion-calendar" style="color:#eb7092;"></i>
    <ion-nav-view name="tab2"></ion-nav-view>
  </a>
</div>


</ion-tabs>
-->
